.canteen {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    text-align: center;
    padding: 10px;

}

.card{
    background-color: #444;
    color: white;
}
.canteen-map{
    width: 100%;
}
