.lib-content {
    display: grid;
    column-gap: 16px;
    row-gap: 16px;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 16px;
    
}

/* responsive image */
.responsive-img {
    width: 100%;
    height: auto;
    max-width: fit-content;
    max-height: 50px;
}

.scale-img {
    max-width: 100%;
    max-height: 120px;
    object-fit: cover;
}