

.credit {
    /* margin-top: 20px; */
    display: flex;
    justify-content: center;
    padding: 1%;
    color: white;
    /* background-color: #B67352; */
    background-color: #41B06E;


}